body{
    font-family: 'Open Sans', sans-serif;

}
footer, footer a:link, footer a:visited{
    text-align: center;
    color: white;
    text-decoration: none;
}
h1, h2, h3{
    font-family: 'Roboto', sans-serif;
}
.card-title{
    text-align: center;
}
a:link,a:visited{
    color: black;
}
.card-subtitle{
    text-align: left;
    font-style: italic;
}
.card-body{
    text-align: justify;
    color: green;
}
p::selection{
    color:grey;
    background: orange;
}

.dropdown-menu {
    margin-right:-10px;
}

.dropdown-menu > li {
    display: inline-block;
}

#equipos{
    justify-content: center;
}
#redes-sociales{
    padding: 5px;
    color: whitesmoke;
}
#redes-sociales svg{
    width: 40px;
    height: 40px;
    padding: 0.5em;
}