body{
    font-family: 'Open Sans', sans-serif;

}
footer, footer a:link, footer a:visited{
    text-align: center;
    background-color: yellowgreen;
    color: dark;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
footer ul, li{
    list-style: none;
    text-align: left;
    padding: 0;
}
footer h5 {
    text-align: left;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
}
h1, h2, h3, h5{
    font-family: 'Roboto', sans-serif;
}
.card-title{
    text-align: center;
}
a:link,a:visited{
    color: black;
}
.card-subtitle{
    text-align: left;
    font-style: italic;
}
.card-body{
    text-align: justify;
    color: green;
}
.dropdown-menu {
    margin-right:-10px;
}

.dropdown-menu > li {
    display: inline-block;
}

#equipos{
    justify-content: center;
}
#footer-sup{
    padding:0.5em;
    margin-bottom: 20px;
}
#volver{
    justify-content: flex-start;
}
#redes-sociales svg{
    width: 20px;
    height: 20px;
}
.footer-bot{
    margin: 20px 0 5px;
}
.footer-bot p{
    font-size: 12px;
    text-align: start;
}

#disparadorContacto{
    cursor: pointer;
}

::selection{
    background: rgb(218, 244, 0);
    color: rgb(7, 7, 7);
}

#cuerpoMensaje{
    height: 100px;
}